
*{
     margin: 0;
     padding: 0;
     transition: all 0.5s linear;
}
body{
   text-align: center !important;

}

form{
     margin: 0 auto;
     text-align: center !important;
}

header{
     background-color: aliceblue !important;
}

#center{
     text-align: center !important;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     justify-content: center;
}